/* CONTAINERS */

.card-container {
  position: relative;
  background-color: #f5f6fb;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 320px;
  padding-bottom: 60px;
  overflow: hidden;
}

.card-item {
  float: left;
  width: 290px;
  background-color: #fff;
  margin: 10px;
  padding-bottom: 20px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.img-card {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 290px;
  height: 275px;
  position: relative;
}

.img-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .img-container:after,
.card-item:focus .img-container:after {
  opacity: 1;
}

@media screen and (min-width: $tablet) {
  .card-container {
    max-width: $tablet;

    padding-left: 0;
    padding-right: 0;
  }

  .card-container-slider {
    max-width: 728px;
  }

  .card-field {
    width: $tablet;
    display: block;
    position: relative;
    left: 0;

    display: flex;
    margin: -20px;
    transition: all 500ms $animation-timing-function;
  }

  .card-field-wrap {
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-item {
    width: 352px;
    margin-right: 20px;
  }
  .img-container {
    height: 275px;
    width: 352px;

    overflow: hidden;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $desktop) {
  .card-container {
    max-width: $desktop;

    padding-left: 0;
    padding-right: 0;
  }

  .card-container-slider {
    max-width: 1240px;
  }

  .card-field-wrap {
    flex-wrap: wrap;
    display: flex;
    // margin: 20px;
  }

  .card-item {
    width: 295px;

    margin: 10px;
  }

  .img-container {
    height: 275px;
    width: 295px;

    overflow: hidden;
    margin-bottom: 20px;
  }
}

/* SVG BUTTON */

.card-item:hover .favorite-icon,
.card-item:focus .favorite-icon,
.card-item:hover .full-screen-icon,
.card-item:focus .full-screen-icon {
  opacity: 1;
}

.card-item:hover .favorite,
.card-item:focus .favorite,
.card-item:hover .full-screen,
.card-item:focus .full-screen {
  pointer-events: all;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  pointer-events: none;
}

.full-screen {
  position: absolute;
  bottom: 20px;
  right: 15px;
  z-index: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  pointer-events: none;
}

.favorite-icon,
.full-screen-icon {
  fill: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CARD TEXT */

.product-title {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.07em;
}

.price {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

.old-price {
  //line-through price style

  position: relative;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #bbbbbb;
  text-decoration: line-through;
  margin-left: 20px;
}

.hot-price {
  margin-left: 10px;
  color: $accent-color;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

/* FOOTER */
footer {
  background-color: white;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 320px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.secondary-footer-container {
  margin-top: 38px;
  display: inline-flex;
  align-items: center;
}

.copyright {
  margin-right: 6px;
}

.footer-year {
  display: inline-flex;
  align-items: center;
}

.footer-year:after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #e2e3e5;
  margin-left: 9px;
}

.footer-rights {
  margin-left: 10px;
  display: inline;
}

.footer-dev {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.heart {
  margin-left: 7px;
  margin-right: 7px;
}

.footer-dev > span {
  text-decoration: underline;
}

@media screen and (min-width: $tablet) {
  .footer-container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
  }

  .secondary-footer-container {
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: auto;
  }

  .footer-rights {
    display: inline-flex;
    align-items: center;
  }

  .footer-rights:after {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #e2e3e5;
    margin-left: 9px;
  }

  .footer-dev {
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 9px;
    margin-right: auto;
  }
}

@media screen and (min-width: $desktop) {
  .footer-container {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

//HEADERS AND SWIPE BUTTONS

.section-name {
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.psevdo-after {
  display: inline-flex;
  align-items: center;
}

.psevdo-after:after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #e2e3e5;
  margin-left: 9px;
  margin-right: 9px;
}

.show-all {
  border: none;
  background-color: transparent;

  margin-left: 20px;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  color: $accent-color;
}

.swipe-right,
.swipe-left {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: $tablet) {
  .section-name {
    margin-left: 78px;
    margin-bottom: 34px;
    padding-top: 16px;
    margin-top: 0;
  }

  .swipe-left,
  .swipe-right {
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    height: 30px;
    width: 30px;

    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .swipe-left:focus,
  .swipe-right:focus,
  .swipe-left:hover,
  .swipe-right:hover {
    background-color: $accent-color;
  }

  .swipe-left:focus .swipe-left-icon,
  .swipe-right:focus .swipe-right-icon,
  .swipe-left:hover .swipe-left-icon,
  .swipe-right:hover .swipe-right-icon {
    fill: #fff;
  }

  .swipe-left {
    left: 0px;
    top: 10px;
  }

  .swipe-right {
    right: 0px;
    top: 10px;
  }
}

.pagination-conteiner {
  background-color: #f5f6fb;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 320px;
  padding-bottom: 60px;
  overflow: hidden;
  display: flex;
}

@media screen and (min-width: $tablet) {
  .pagination-conteiner {
    max-width: $tablet;

    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: $desktop) {
  .pagination-conteiner {
    max-width: $desktop;

    padding-left: 0;
    padding-right: 0;
  }
}

.pagination {
  border: none;
  background-color: #fff;
  width: 60px;
  height: 60px;
}
.pagination:not(:last-child) {
  margin-right: 1px;
}

.pagination.is-active {
  background-color: #000;
  color: #fff;
}
